In [1]:
# Importing common libraries:
import pandas as pd
import numpy as np
from scipy import stats

import matplotlib.pyplot as plt
import seaborn as sns

# from sklearn.model_selection import train_test_split
import warnings
warnings.filterwarnings("ignore")

In [2]:
# Importing my env and wrangle files:
import env
import wrangle

wrangle.py functions loaded successfully.

In [ ]:
sql_query = '''
            SELECT *
            FROM customers
            '''

In [ ]:
def get_mall_data():

    df = pd.read_sql(sql_query, get_connection('mall_customers'))
    return df
    # df.drop(columns = )

In [ ]:
df = wrangle.get_mall_data()
df

In [4]:
train, validate, test = wrangle.wrangle_mall_data()
train.head()

Shape of train df: (144, 5)
Shape of validate df: (26, 5)
Shape of test df: (30, 5)

     customer_id  gender  age  annual_income  spending_score
107          108    Male   54             63              46
40            41  Female   65             38              35
167          168  Female   33             86              95
22            23  Female   46             25               5
187          188    Male   28            101              68