In [1]:
import pandas as pd
from scipy import stats
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import env
import os

In [2]:
2+2

4

In [3]:
print('Testing out the visuals in VS Code')

Testing out the visuals in VS Code

In [4]:
# Importing my env and wrangle files:
import wrangle

wrangle.py functions loaded successfully.

In [5]:
train, validate, test = wrangle.wrangle_telco()
train.head()

Shape of train df: (1224, 6)
Shape of validate df: (216, 6)
Shape of test df: (255, 6)

,customer_id,monthly_charges,tenure,total_charges,contract_type_id,contract_type,total_charges_scaled,monthly_charges_scaled,tenure_scaled
1540,7601-DHFWZ,24.00,48,1183.05,3,Two year,0.134470,0.054446,0.661972
1187,2017-CCBLH,20.00,8,141.60,3,Two year,0.014075,0.014486,0.098592
1106,0825-CPPQH,19.10,71,1372.45,3,Two year,0.156365,0.005495,0.985915
909,6733-LRIZX,108.95,35,4025.50,3,Two year,0.463068,0.903097,0.478873
1271,3274-NSDWE,19.60,68,1441.65,3,Two year,0.164365,0.010490,0.943662